.header4 {
    height: 100vh;
    background-color: $almond;
    margin-top: 0%;
}

.h4flex {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    @include phone {
        align-items: center;
        flex-direction: column-reverse;
        height: 100%;
    }
    @include tablet {
        height: 100%;
        align-items: center;
        flex-direction: column-reverse;
    }
}

.titleflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    @include phone {
        width: 90%;
    }
    @include tablet{
        width: 70%;
    }
    @include laptop{
        width: 60%;
    }
}

.title4 {
    color: $holly;
    font-size: 8rem;
    letter-spacing: 0.5rem;
    @include phone {
        font-size: 3rem;
    }
    @include tablet {
        font-size: 5rem;
    }
}

.title4:hover {
    color: $oak;
    overflow: hidden;
    cursor: pointer;
}

.titleparagraph {
    color: $oak;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    @include phone{
        font-size: 1rem;
    }  
    @include laptop{
        width: 80%;
    }
}

.titleparagraph:hover {
    color: $yellow;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.h4boxbtns>a {
    display: inline-flex;
    width: 3.5rem;
    height: 3.5rem;
    background: $moss;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bolder;
    color: $yellow;
}

.h4box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @include phone{
        flex-direction: column-reverse;
    }
    @include tablet{
        padding-bottom: 5rem;
    }
}

.contactwork {
    display: flex;
    width: 60rem;
    height: 60rem;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;

    scroll-behavior: smooth;
    
    @include phone {
        width: 30rem;
        height: 30rem;
    }
    @include tablet {
        width: 40rem;
        height: 40rem;
    }
}

.contactcloud {
    width: 100%;
    object-fit: contain;    
    scroll-snap-type: x mandatory;
}
