.header4 {
    height: 100vh;
    background-color: $almond;
    margin-top: 0%;
}

.h4flex {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    @include phone {
        align-items: center;
        flex-direction: column-reverse;
        height: 100%;
    }
    @include tablet {
        height: 100%;
        align-items: center;
        flex-direction: column-reverse;
    }
}

.titleflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    @include phone {
        width: 90%;
    }
    @include tablet{
        width: 70%;
    }
    @include laptop{
        width: 60%;
    }
}


.title4{
    color: $holly;
    font-size: 8rem;
    letter-spacing: 0.5rem;
    @include phone {
        font-size: 4rem;
    }
    @include tablet {
        font-size: 6rem;
    }
    cursor:pointer;
      position:relative;
      padding:10px 20px;
      transition:all .5s;
      
      &:after,&:before{
        content:" ";
        height: 14px;
        width: 14px;
        position: absolute;
        transition: all .35s ease;
        opacity: 0;
      }
      &:after{
        content: '';
        left: 0;
        bottom: 0;
        border-bottom: 6px solid $holly;
        border-left: 6px solid $holly;
        transform: translate(100%, -50%)
      }
      &:before{
        content: '';
        right: 0;
        top: 0;
        border-top: 6px solid $holly;
        border-right: 6px solid $holly;
        transform: translate(-100%, 50%);
      }
      &:hover{
        &:before,&:after{
          transform: translate(0,0);
          opacity: 1;
       
        }
      }
    }

.title4:hover {
        color: $oak;
        cursor: pointer;
    }
  

.titleparagraph {
    color: $oak;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    @include phone{
        font-size: 1rem;
    }  
    @include laptop{
        width: 80%;
    }
}

.titleparagraph:hover {
    color: $yellow;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

.h4boxbtns>a {
    display: inline-flex;
    width: 3.5rem;
    height: 3.5rem;
    background: $moss;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bolder;
    color: $yellow;
}

.h4box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    @include phone{
        flex-direction: column-reverse;
    }
    @include tablet{
        padding-bottom: 5rem;
    }
}


.contactcloud {
    width: 100%;
    object-fit: contain;    
    scroll-snap-type: x mandatory;
}

.contactwork {
    display: flex;
    width: 60rem;
    height: 60rem;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    @include phone {
        width: 30rem;
        height: 30rem;
    }
    @include tablet {
        width: 40rem;
        height: 40rem;
    }
  }
  
  .contactwork {
    float: left;
    position: relative;
    text-align: center;
    cursor: default;
  }
  
  .contactwork .overlay1 {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .contactwork img {
    display: block;
    position: relative;
  
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  
  .contactwork:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.7);
    -webkit-filter: brightness(0.7);
  }
  
  .contactwork h4 {
    text-transform: lowercase;
    font-weight: bolder;
    letter-spacing: .5rem;
    color: $ivory;
    text-align: center;
    font-size: 60px;
    padding: 10px;
    width: 100%;
  }
  
  .contactwork:hover h4 {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
    transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  }
  
  .contactwork a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    text-transform: uppercase;
    color: $ivory;
    border: 1px solid $ivory;
    margin: 50px 0 0 0;
    background-color: transparent;
  }
  
  .contactwork a.info:hover {
    box-shadow: 0 0 5px $ivory;
  }
  
  .contactwork .rotate {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 100%;
    height: 100%;
    position: absolute;
  }
  
  .contactwork hr {
    width: 70%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  
  .contactwork  hr:nth-child(2) {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(0,0,1);
  }
  
  .contactwork  hr:nth-child(3) {
    -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
    transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(0,0,1);
  }
  
  .contactwork h4, .contactwork hr {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    background-color: transparent;
    margin: 0px;
  }
  
  .group1, .group2 {
    left: 50%;
    position: absolute;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-70%,-70%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transform-origin: 70%;
    -ms-transform-origin: 70%;
    transform-origin: 70%;
    background-color: transparent;
    margin: 0px;
    padding: 0px;
  }
  
  .group1 {
    top: 47%;
    @include phone {
        top:42%;
    }
    @include tablet {
        top:46%;
    }
  }
  
  .group2 {
    top: 53%;
    @include phone {
        top:58%;
    }
    @include tablet {
        top:55%;
    }
  }
  
  .contactwork p {
    width: 30%;
    text-transform: none;
    font-size: 15px;
    line-height: 2;
  }
  
  .contactwork p a {
    color: $ivory;
  }
  
  .contactwork p a:hover,
  .contactwork p a:focus {
    opacity: 0.6;
    filter: alpha(opacity=60);
  }
  
  .contactwork  a i {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    padding: 10px;
    font-size: 20px;
  }
  
  .group1 a:first-child i {
    -webkit-transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
    transform: translate3d(-60px,-60px,0) rotate(45deg) scale(2);
  }
  
  .group1 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,-60px,0) rotate(45deg) scale(2);
    transform: translate3d(60px,-60px,0)  rotate(45deg) scale(2);
  }
  
  .group2 a:first-child i {
    -webkit-transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
    transform: translate3d(-60px,60px,0) rotate(45deg) scale(2);
  }
  
  .group2 a:nth-child(2) i {
    -webkit-transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
    transform: translate3d(60px,60px,0)  rotate(45deg) scale(2);
  }
  
  .contactwork:hover hr:nth-child(2) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate(0deg) scale3d(1,1,1);
  }
  
  .contactwork:hover hr:nth-child(3) {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
    transform: translate3d(-50%,-50%,0) rotate(90deg) scale3d(1,1,1);
  }
  
  .contactwork:hover .group1 i:empty, .contactwork:hover .group2 i:empty {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0) rotate(45deg) scale(1);
    opacity: 1;
    filter: alpha(opacity=100);
  }